[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ghostnup
[access "refs/for/refs/*"]
	read = group user/ghostnup
	push = group user/ghostnup
	label-Code-Review = -2..+2 group user/ghostnup
	label-Verified = -1..+1 group user/ghostnup
	rebase = group user/ghostnup
	removeReviewer = group user/ghostnup
	submit = group user/ghostnup
[access "refs/heads/*"]
	read = group user/ghostnup
	create = group user/ghostnup
	push = +force group user/ghostnup
	pushMerge = group user/ghostnup
[access "refs/tags/*"]
	push = group user/ghostnup
	push = +force group user/ghostnup
